.navbar-light .navbar-brand {
	color: rgba(3, 207, 179, 1);
	font-weight: 900;
	font-size: 50px;
}

.navbar-light .navbar-brand:hover {
	color: rgba(3, 207, 179, 1);
}

a {
	color: rgba(3, 207, 179, 1);
	text-decoration: none;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	line-height: 36px;
}

a:hover {
	color: rgba(3, 207, 179, 1);
}

.home {
	color: white;
	margin-left: 35px;
	margin: 0;
	padding: 10px 0 10px 40px;
	background-image: url('../assets/designAssets/home2.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px;
}

.cata {
	margin-left: 35px;
	margin: 0;
	padding: 10px 0 10px 40px;
	background-image: url('../assets/designAssets/Category.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px;
}

a:hover h4 {
	color: white;
	margin-left: 35px;
}

.userTitle {
	padding: 20px;
	margin: 25px;
	width: 157px;
	height: 36px;
	left: 15px;
	top: 25px;
}

.userNav {
	position: absolute;
	width: 300px;
	height: 100%;
	left: 0px;
	background-color: #040b16;
}
